* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: aqua;
  font-family: "Poppins", sans-serif;
}

.regis-btn {
  position: absolute;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%) scale(1.25);
  width: 480px;
  padding: 70px 30px 50px;
  background: white;
  border-radius: 15px;
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
}

.show-modal {
  top: 50%;
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  transition: top 0ms ease-in-out 0ms, opacity 200ms ease-in-out 0ms, transform 20ms ease-in-out 0ms;
}

.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  color: black;
  text-align: center;
  line-height: 15px;
  border: 15px;
  cursor: pointer;
}

.popup .form h2 {
  text-align: center;
  color: #222;
  margin: 10px 0px 30px;
  font-size: 25px;
}

.popup .form .form-element {
  margin: 15px 20px;
}

.popup .form .form-element a {
  display: block;
  text-align: right;
  font-size: 15px;
}

.popup .form .form-element .label {
  font-size: 10px;
  color: #222;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"],
.popup .form .form-element input[type="tel"] {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.popup .form .form-element button {
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  font-size: 15px;
  background-color: #983bff;
  color: #eee;
  border-radius: 8px;
  cursor: pointer;
}

.popup .form .form-element h5 {
  display: flex;
}
