@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;

  outline: none;
  border: none;
}

:root {
  --clr-purple-100: #d1a8ff;
  --clr-purple-300: #983bff;
  --clr-purple-500: rgb(96, 30, 126);
  --clr-grey: rgb(115, 115, 115);
  --clr-black: #333;

  --padding-btn: 0.5rem 1.3rem;

  --border-btn: 0.25rem;
}

html,
body {
  scroll-behavior: smooth;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;

  object-fit: cover;
}

.btn-primary {
  background-color: var(--clr-purple-300);
  color: #ffffff;

  padding: var(--padding-btn);
  border-radius: var(--border-btn);

  transition: 0.3s ease;

  &:hover {
    background-color: var(--clr-purple-500);

    cursor: pointer;
  }
}

.full-bleed {
  box-shadow: 0 0 0 100vmax var(--clr-purple-100);
  clip-path: inset(0 -100vmax);
}

/* --------------------------------------------------------------- */
/* nav */
/* --------------------------------------------------------------- */

nav {
  background-color: rgba(255, 255, 255);

  position: sticky;
  position: -webkit-sticky;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.225); */

  /* box-shadow: 7px 0 20px lightgray; */
  z-index: 999;

  #logo {
    display: flex;
    align-items: center;

    gap: 0.5rem;

    .icon {
      width: 32px;
      aspect-ratio: 1/1;
    }

    h3 {
      text-transform: uppercase;
      font-size: 20px;
      transition: 0.3s ease;

      &:hover {
        color: gray;
        cursor: pointer;
      }
    }
  }

  .menu {
    display: flex;
    align-items: center;

    gap: 1rem;

    ul {
      display: flex;

      gap: 0.5rem;

      li {
        display: inline-block;
        a {
          color: var(--clr-grey);
          font-size: small;
          font-weight: 700;

          padding: var(--padding-btn);

          transition: all 0.3s ease-in-out;

          &:hover {
            background-color: rgb(225, 197, 253);
            color: var(--clr-purple);

            border-radius: 20px;
          }
        }
      }
    }
  }
}

/* --------------------------------------------------------------- */
/* header */
/* --------------------------------------------------------------- */

header {
  height: 90vh;

  display: flex;
  align-items: center;

  padding-inline: 8rem;
  border: var(--border-check);

  & > * {
    flex: 1;
  }

  .tagline {
    h1 {
      font-weight: 700;
      font-size: 64px;

      padding-bottom: 30px;
    }
    h4 {
      color: #000000;
      font-weight: 400;
      font-size: 20px;

      padding-bottom: 20px;
    }
  }
}

/* --------------------------------------------------------------- */
/* container */
/* --------------------------------------------------------------- */

#container {
  padding-inline: 6rem;
}

section {
  padding-block: 3rem;
  /* margin-block: 3rem; */
}

/* --------------------------------------------------------------- */
/* section steps */
/* --------------------------------------------------------------- */

#steps {
  background-color: var(--clr-purple-100);

  h3 {
    font-weight: 600;
    font-size: 36px;
    text-align: center;

    padding-bottom: 20px;
    color: #000000;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    padding: 1rem;
    gap: 1rem;

    figure {
      background: #ffffff;

      padding: 1rem;
      border-radius: var(--border-btn);

      h4 {
        color: #000000;
        font-weight: bold;
        font-size: 20px;

        margin-bottom: 1rem;
      }

      p {
      }
    }
  }
}

/* --------------------------------------------------------------- */
/* section about us */
/* --------------------------------------------------------------- */
#about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    flex: 1;
  }

  .hero {
  }

  .description {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    .tagline {
      h3 {
        color: #000000;
        font-weight: 600;
        font-size: 36px;
      }

      p {
        font-weight: 400;
        font-size: 20px;
      }
    }

    .checkbox {
      display: flex;
      flex-direction: column;

      li {
        display: flex;

        gap: 1rem;

        i {
          color: var(--clr-purple);
        }
      }
    }
  }
}

/* --------------------------------------------------------------- */
/* section categories */
/* --------------------------------------------------------------- */
.categories {
  position: relative;
  margin-bottom: 20px;

  .tagline {
    position: relative;

    h3 {
      width: 514px;
      /* text-align: center; */
      padding-left: 500px;
      /* height: 61px;
        left: 730px;
        top: 1465px; */
      font-weight: 600;
      font-size: 36px;
      color: #000000;
    }

    p {
      width: 450px;
      height: 50px;
      left: 730px;
      top: 1526px;
      padding-left: 520px;
      font-weight: 400;
      font-size: 20px;
      padding-bottom: 35px;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    padding: 1rem;
    gap: 1rem;

    figure {
      background: #ffffff;

      padding: 1rem;
      border-radius: var(--border-btn);
    }
  }
}

/* --------------------------------------------------------------- */
/* section drop CV */
/* --------------------------------------------------------------- */
#dropCV {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    flex: 1;
  }

  .tagline {
    h3 {
      font-weight: 600;
      font-size: 36px;
      color: #000000;
    }

    p {
      font-weight: 400;
      font-size: 20px;
    }
  }
}

/* --------------------------------------------------------------- */
/* section testimonial */
/* --------------------------------------------------------------- */
#testimonial {
  position: relative;
  margin-bottom: 20px;
  margin-top: 150px;

  .tagline {
    position: relative;

    h3 {
      width: 514px;
      /* text-align: center; */
      padding-left: 500px;
      /* height: 61px;
        left: 730px;
        top: 1465px; */
      font-weight: 600;
      font-size: 36px;
      color: #000000;
    }

    p {
      width: 450px;
      height: 50px;
      left: 730px;
      top: 1526px;
      padding-left: 520px;
      font-weight: 400;
      font-size: 20px;
      padding-bottom: 35px;
    }
  }

  .main-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200%;
    transition: 1s;
    justify-content: center;

    .cards {
      width: calc(100% / 2 - 10px);
      display: flex;
      /* flex-wrap: wrap; */
      margin: 0 20px;
      justify-content: space-between;
      /* padding-right: 50px; */

      .card {
        width: calc(100% / 3 - 10px);
        background: #d1a8ff;
        border-radius: 12px;
        padding: 30px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
        transition: all 0.4s ease;

        &:hover {
          transform: translateY(-15px);
        }

        .content {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          /* align-items: center;
          text-align: center; */

          padding: 20px;

          .hero {
            height: 130px;
            width: 130px;
            border-radius: 50%;
            padding: 3px;
            background: #983bff;
            margin-bottom: 14px;

            img {
              height: 100%;
              width: 100%;
              border: 3px solid #ffff;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  /* .card .content .name{
    font-size: 20px;
    font-weight: 500;
  }
  .card .content .job{
    font-size: 20px;
    color: #FF676D;
  } */

  .slider {
    max-width: 950px;
    width: 100%;
    overflow: visible;
    padding: 80px 0;
    .button {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px;

      label.active {
        width: 35px;
      }
    }

    .dots {
      display: flex;

      input[type="radio"] {
        display: visible;
        justify-content: center;
      }
      #two:checked ~ .main-card {
        margin-left: -100%;
      }

      #one:checked ~ .button .one {
        width: 35px;
      }
      #one:checked ~ .button .two {
        width: 15px;
      }
      #two:checked ~ .button .one {
        width: 15px;
      }
      #two:checked ~ .button .two {
        width: 35px;
      }
    }
  }
}

/* --------------------------------------------------------------- */
/* section faq */
/* --------------------------------------------------------------- */
#faq {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    flex: 1;
  }

  .tagline {
    display: inline-block;
    justify-content: space-around;

    h3 {
      font-weight: 600;
      font-size: 36px;
      color: #000000;
    }

    p {
      font-weight: 400;
      font-size: 20px;
    }
  }

  .wrapper {
    border: 1px solid #000000;

    summary {
      background-color: var(--clr-purple-100);
      color: #000000;
      font-weight: 400;
      font-size: 16px;
      text-decoration: none;

      padding: var(--padding-btn);
    }

    .answer {
      padding: var(--padding-btn);
    }
  }
}

/* --------------------------------------------------------------- */
/*  footer */
/* --------------------------------------------------------------- */
footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 25px;
  background-color: rgb(221, 188, 253);
  padding: 100px;

  h3 {
    margin-bottom: 12px;
  }

  p {
    margin-bottom: 8px;
  }

  #about {
    width: 200px;
  }

  #link {
    justify-content: center;
    display: flex;
    flex-direction: column;

    ul {
      li {
        margin-bottom: 8px;
        color: black;
      }
    }
  }

  #contact {
    #sosmed {
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 28px;
      padding: 8px 12px;
      border-radius: 30px;

      a {
        display: flex;

        i {
          transition: all 0.3s ease-in-out;
          margin: 0 4px;

          &:hover {
            color: blueviolet;
            border-radius: 50px;
          }
        }
      }
    }
  }
}

/* --------------------------------------------------------------- */
/* section copyright */
/* --------------------------------------------------------------- */
#copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px 100px;

  .bxs-heart {
    transition: all 0.2s ease-in-out;

    &:hover {
      font-size: 30px;
      cursor: pointer;
    }
  }
}

/* --------------------------------------------------------------------- */
